html {
background-color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  align-items: center;
  max-width: 1800px;
}
.logomark{
  width: 150px;
}
ul{
  display: flex;
  list-style: none;
}

li{
  color: white;
  padding: 10px;
}
.nav-input {
  display: inline;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 5px;
  margin: 20px;
  gap: 80px;
}

.link-navigation-in{
  text-decoration: none;
  color: white;
}

.countainer-navigation{
  display: flex;
}
.text{
margin-top: 50px;

}


/*
.countainer-presentation{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0% 100px;
  display: flex;
  
}*/


.carousel{
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 80px;
  box-shadow: 3px 5px 80px #776363;

}

.carousel img{
  width: 100vw;
  height: 500px;
  object-fit: cover;

  
}
@keyframes carouselAnimation {
  0% {
    margin-left: 0;
  }
  20%{
    margin-left: 0;
  }
  25%{
    margin-left: -100%;
  }
  45%{
    margin-left: -100%;
  }
  50%{
    margin-left: -200%;
  }
  70%{
    margin-left: -200%;
  }
  75%{
    margin-left: -300%;
  }
  95%{
    margin-left: -300%;
  }
  100%{
    margin-left: -400%;
  }
}
.carousel-inner {
  width: 400%;
  animation: carouselAnimation 20s infinite;
}
  


h1{
  color: white;
  justify-content: center;
  text-align: center;
}

.text-about-parrilla{
  color: white;
  justify-content: center;
  display: flex;
  text-align: center;
}
.countainer-nav-input2{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
    
}
.nav-input2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
}

.link-nav-input2{
  text-decoration: none;
  color: black;
  background-color: rgb(250, 250, 250);
  border-radius: 2%;
  
}
.about-us{
  background-color: rgb(189, 175, 129);
}
.text-about-madeiro{
  color: rgb(12, 12, 12);
  font-style: italic;
  padding: 40px;
  text-align: center;
 
  
}
.container-about{
  display: flex;
  justify-content: space-between;

}
.link-navigation-in{
  text-decoration: none;
  color: rgb(252, 249, 249);

}
.btn{
  width: 210px;
  height: 40px;
  font-size: 15pt;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(45deg,brown 50%,transparent 50% );
  background-image: linear-gradient(45deg,brown 50%, transparent 50% );
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.btn:hover{
  color: white;
  background-position: 0;
  cursor: pointer;
}
