html {
  background-color: rgba(132, 68, 4, 0.838);
}
.header-menu{
  display: fixed;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  flex-flow: wrap;
  background: rgba(75, 24, 24, 0.781);  
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(65, 13, 13);
}
a{
  list-style: none;
  text-decoration: none;
  border: 2px;
  border-radius: 8px;
  
}
.nav-input{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  list-style: none;
  gap: 25px;
}
.nav-menu{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
}
.title{
    justify-content: center;
}
.nav-input2{
  display: flex;
  justify-content: center;
  text-decoration: none;  
  gap: 25px

}
ul{
  list-style: none;
  text-decoration: none;
  padding: 8px;
}
.galery-menu{
  display: flex;
  justify-content: center;
}